<label class="container">
    <input type="radio" name="color" value="bg-yellow" required>
    <span class="checkmark bg-yellow"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-sea-green" required>
    <span class="checkmark bg-sea-green"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-sea-blue" required>
    <span class="checkmark bg-sea-blue"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-light-blue" required>
    <span class="checkmark bg-light-blue"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-blue" required>
    <span class="checkmark bg-blue"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dark-blue" required>
    <span class="checkmark bg-dark-blue"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-purple" required>
    <span class="checkmark bg-purple"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-pink-purple" required>
    <span class="checkmark bg-pink-purple"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-pink" required>
    <span class="checkmark bg-pink"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-baby-pink" required>
    <span class="checkmark bg-baby-pink"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dark-pink" required>
    <span class="checkmark bg-dark-pink"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dirty-red" required>
    <span class="checkmark bg-dirty-red"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dirty-orange" required>
    <span class="checkmark bg-dirty-orange"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dirty-yellow" required>
    <span class="checkmark bg-dirty-yellow"></span>
</label>
<label class="container">
    <input type="radio" name="color" value="bg-dirty-pink" required>
    <span class="checkmark bg-dirty-pink"></span>
</label>