<footer>
        <p>Copyright &copy; PLANNER <%= new Date().getFullYear(); %></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/main.js"></script>
</body>
</html>
